<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
  
	<bean id="webdriverbean" class="beans.WebDriverBean"> 
		<constructor-arg value="org.openqa.selenium.chrome.ChromeDriver" type="java.lang.String" />
	</bean>

	<bean id="homepage" class="beans.pageObjects.HomePageBean"> 
		<property name="title" value="Index Page"/>
	</bean>

 	<bean id="contformpage" class="beans.pageObjects.ContactFormPageBean"> 
		<property name="title" value="Contact Form"/>
	</bean>

 	<bean id="user" class="beans.UserBean"> 
 		<constructor-arg name="login" value="epam"/>
 	    <constructor-arg name="password" value="1234"/>
 	    <constructor-arg name="name" value="Piter Chailovskii"/>
	</bean>
</beans>